apiVersion: v1
kind: Service
metadata:
  name: sftp-service
spec:
  selector:
    app: sftp-server
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 22
      targetPort: 2222
      name: sftp-main-port

